### More List Methods

In [ ]:
## define a list of clothes

clothes = ['shirts', 'jacket', 'pants', 'shorts', 'coat']

#### pop method

The .pop() method removes an item from a list. If no argument is given, it automatically removes the last item from the list. If you give the index, it will remove the item found in that index location.

In [ ]:
## remove the last item of the list clothes

clothes.pop()

print(clothes)

['shirts', 'jacket', 'pants', 'shorts']

In [ ]:
## save the removed item to a variable

item = clothes.pop()

print(item)

shorts

In [ ]:
## remove an item at a specific index

item = clothes.pop(2)

print(item)

pants

#### remove method

The .remove() method will remove a specific item from a list. If an item is repeated within the list, it will remove the first instance.

In [ ]:
## remove item from list given name

clothes.remove("shirts")

print(clothes)

['jacket']

#### count method

The count method returns the number of times a specified item appears in a list.

In [ ]:
## let's check if 'pants' show up in the list at all

"pants" in clothes

False

In [ ]:
## how many times does "pants" show up in the list?

clothes.count("pants")

0

#### sort method and function

The sort method sorts elements of a given list (ascending or descending) order.

In [ ]:
## copy the clothes list

clothes_sorted = clothes.copy()

## sort the 'clothes_sorted' list

clothes_sorted.sort()

## print unsorted and sorted list

print(f"Original order: {clothes}")
print(f"Sorted order: {clothes_sorted}")

Original order: ['jacket']
Sorted order: ['jacket']

In [ ]:
## copy the clothes list

clothes_sorted = clothes.copy()

## sort the 'clothes_sorted' list in reverse order

clothes_sorted.sort(reverse = True)

## print unsorted and sorted list

print(f"Original order: {clothes}")
print(f"Sorted order: {clothes_sorted}")

Original order: ['jacket']
Sorted order: ['jacket']

In [ ]:
## sorted function - sorted()
## sort the 'clothes_sorted' list

clothes_sorted = sorted(clothes)

## print unsorted and sorted list

print(f"Original order: {clothes}")
print(f"Sorted order: {clothes_sorted}")

Original order: ['jacket']
Sorted order: ['jacket']

### Tuples

A tuple is another data type similar to a list (a collection of items); however, unlike a list, a tuple is unchangeable. Lists are <b>dynamic</b> and tuples are <b>static</b>. Lists can be changed or modified after they are created, tuples cannot be changed or modified after creation. Since it cannot be changed, it has less functionality than a list.

In [ ]:
## tuples are created using paraentheses vs brackets

week = ('M', 'T', 'W', 'Th', 'F', 'Sa', 'Su')

## print tuple

print(week)

('M', 'T', 'W', 'Th', 'F', 'Sa', 'Su')

In [ ]:
## determine the length of a tuple

print(len(week))

## index items in a tuple

print(week[3])

## slice items in a tuple
# slicing a tuple is inclusive : exclusive

print(week[0:4])

7
Th
('M', 'T', 'W', 'Th')

#### list() and tuple() methods

You can convert a tuple to a list using the list() function; you can convert a list into a tuple using the tuple() function.

In [ ]:
# convert list to tuple

clothes_tuple = tuple(clothes)

# print tuple

print(clothes_tuple)
print(type(clothes_tuple))

('jacket',)
<class 'tuple'>

In [ ]:
# convert tuple to list

week_list = list(week)

# print list

print(week_list)
print(type(week_list))

['M', 'T', 'W', 'Th', 'F', 'Sa', 'Su']
<class 'list'>

# [ Exercise 1 ]

Get 7 book titles from a user and save the title names into a list. Next, remove the title in the middle of the list <b>after</b> sorting the list alphabetically. Finally, using formatted strings, display the original list, the sorted list, and the list after removing the above item.

Make copies of your lists as you work through the steps.

In [ ]:
#Empty List
books =[]
#Function to get N book titles from a user and save the title names into a list
def book_titles(n):
  for x in range(n):
    book_names = input(f"Enter book title # {x+1}: ")
    books.append(book_names)
  #return books
  #print(books)

#Next, remove the title in the middle of the list after sorting the list alphabetically

  full_list = books.copy()

  sorted_list = sorted(full_list)

  removed_list = sorted_list.copy()

  removed_list.pop(1)

#Finally, using formatted strings, display the original list, the sorted list, and the list after removing the above item.
  print (f"Original list: {full_list}")
  print (f"Sorted list: {sorted_list}")
  print (f"List after remove middle item: {removed_list}")

#Make copies of your lists as you work through the steps.

book_titles(3)

Enter book title # 1: Python for dummies
Enter book title # 2: Data Analytics for dummies
Enter book title # 3: SQL for  dummies
Original list: ['Python for dummies', 'Data Analytics for dummies', 'SQL for  dummies']
Sorted list: ['Data Analytics for dummies', 'Python for dummies', 'SQL for  dummies']
List after remove middle item: ['Data Analytics for dummies', 'SQL for  dummies']

### Loops

#### For Loops
For-loops are used to iterate (repeat) over a sequence. Using a for loop, we can execute a set of tasks once for <b>each</b> item in a list, tuple, string, etc.

In [ ]:
## define a list of colors

colors = ["red", "blue", "green", "pink", "purple", "yellow"]

In [ ]:
## create a for-loop to print each color in the list

for color in colors:
    print(color)

red
blue
green
pink
purple
yellow

In [ ]:
## create a for-loop to print each color in the list with formatted string

for color in colors:
    print(f"My favorite color is {color}.")

My favorite color is red.
My favorite color is blue.
My favorite color is green.
My favorite color is pink.
My favorite color is purple.
My favorite color is yellow.

In [ ]:
## using a for-loop with a string

for letter in "Hello how are you?":
    print(letter)

H
e
l
l
o

h
o
w

a
r
e

y
o
u
?

In [ ]:
stars = [3, 8, 2, 1, 6, 7, 4, 5]

for num in stars:
    print("*" * num)

***
********
**
*
******
*******
****
*****

In [ ]:
names = ["Carlos", "James", "Mark", "Janie", "Lucy", "Sarah", "Jackson"]

for name in names:
    if name[0] == "J":
        print(name)
    else:
        print("---")

---
James
---
Janie
---
---
Jackson

# [ Exercise 2 ]

Get a list of 5 numbers from a user. Save those numbers in a list called <b>numbers</b>. Create a for-loop that takes each number in the list and adds "10" to the number. Print each sum value.

In [5]:
#Get a list of 5 numbers from a user.
numbers = []
def get_numbers(n):
  for num in range(n):
    numbers_list = int(input(f"Enter the # {num+1} :  "))
    numbers.append(numbers_list)
    print (f" This is the SUM of {numbers_list} + 10 = {numbers_list + 10}")

get_numbers(5)

Enter the # 1 :  8
 This is the SUM of 8 + 10 = 18
Enter the # 2 :  9
 This is the SUM of 9 + 10 = 19
Enter the # 3 :  2
 This is the SUM of 2 + 10 = 12
Enter the # 4 :  1
 This is the SUM of 1 + 10 = 11
Enter the # 5 :  8
 This is the SUM of 8 + 10 = 18

#### Range Function

The range function creates a sequence of numbers starting from a given integer and stopping before a given integer (inclusive -> exclusive). The range function can be useful when incorporated into loops. The range function defaults to a 0 starting value but this can be altered, for example:

        range(0, 10) returns the values 0 through 9
        range(0, 11) returns the values 0 through 10
        range(2, 7) returns the values 2 through 6
        range(-1, 10) returns the values -1 through 9

In [ ]:
for num in range(1, 5):

    print(num)

1
2
3
4

In [ ]:
for num in range(1, 5):

    print(num, end = " ")

1 2 3 4

In [ ]:
for num in range(0,6):

    print(num * "^")

^
^^
^^^
^^^^
^^^^^

In [ ]:
doubles = []

for num in range(0, 100):
    if num % 11 == 0:
        doubles.append(num)

print(doubles)

[0, 11, 22, 33, 44, 55, 66, 77, 88, 99]

# [ Exercise 3 ]

Using the range function and a for-loop to create a list of numbers from 0 through 50. Print each value. If the number ends in 0, next to the printed value, print a series of " * " equal to the number.

In [ ]:
numbers = []
for num in range(51):
  if num % 10 == 0:
    print(num, "* " * num)
    numbers.append(num)
print (numbers)

0
10 * * * * * * * * * *
20 * * * * * * * * * * * * * * * * * * * *
30 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
40 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
50 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
[0, 10, 20, 30, 40, 50]

#### While Loops
While-loops are used to execute a set of statements as long as a condition remains true. We generally use this loop when we don't know the number of times to iterate beforehand.

In the while loop, the conditional expression is checked first. The body of the loop is executed if the conditional expression is true. After one loop, the conditional expression is checked again, if it is still true, the iterations continue. The entire loop continues until the conditional expression is false.

In [1]:
item = 1

while item <= 5:
    print(item)
    item += 1

1
2
3
4
5

In [2]:
count = 0

while count < 5:
    print(f"{count} is less than 5!")
    count += 1
else:
    print(f"{count} is not less than 5!")

0 is less than 5!
1 is less than 5!
2 is less than 5!
3 is less than 5!
4 is less than 5!
5 is not less than 5!

In [3]:
choice = "Y"

while choice == "Y":
    choice = input("Please make a choice (Y/N): ")

    if choice == "Y":
        print("Hello!")
    else:
        print("Goodbye!")

Please make a choice (Y/N): N
Goodbye!

In [4]:
numbers = []

while len(numbers) < 4:
    num = int(input("Enter a number: "))
    if num % 2 == 0: ## only even numbers
        numbers.append(num)
        print(numbers)

Enter a number: 2
[2]
Enter a number: 4
[2, 4]
Enter a number: 6
[2, 4, 6]
Enter a number: 7
Enter a number: 8
[2, 4, 6, 8]

In [5]:
go = True

while go:
    number = int(input("Enter a number between 1 and 10: "))

    if number < 1 or number > 10:
        go = False ## stop the loop
    else:
        print ("*" * number)

Enter a number between 1 and 10: 1
*
Enter a number between 1 and 10: 2
**
Enter a number between 1 and 10: 3
***
Enter a number between 1 and 10: 10
**********
Enter a number between 1 and 10: 11

# [ Exercise 4 ]

If you save $1,000 each year with 1 percent annual interest, how much would you have saved in 5 years? Fix the code below and show how it works once it's cleaned up.

In [12]:
def savings():
  savings_amount = int(input("Enter amount of savings annual: "))
  savings_time = int(input("Enter amount of years: "))
  interest_rate = 0.01

  total_savings = (savings_amount * savings_time) * interest_rate
  print (f"The amount of savings in {savings_time} year(s), with the interes rate of {interest_rate*100}% is: ${total_savings}" )

savings()

Enter amount of savings annual: 1000
Enter amount of years: 5
The amount of savings in 5 year(s), with the interes rate of 1.0% is: $50.0

### Break and Continue Statements

With the break statement, you can stop a loop before it has looped through all the items in the list, tuple, string, etc.

With the continue statement, you can stop the current iteration of the loop and move to the next one.

In [13]:
## Break Statement

answers = ["A","C", "", "B", "D"]

##

for answer in answers:
    if answer == "":
        print("Incomplete")
        break
    print(answer)

A
C
Incomplete

In [14]:
## Continue Statement

answers = ["A","C", "", "B", "D"]

##

for answer in answers:
    if answer == "":
        print("Incomplete")
        continue
    print(answer)

A
C
Incomplete
B
D

In [16]:
## Break & Continue Statement

answers = ["A","C", "", "B", "D"]

##

while True:
    answer = input("Enter a grade (or 'q' to quit): ")
    if answer == 'q':
        break
    elif answer == "":
        print("Incomplete")
        continue
    else:
        print(f"\nYour grade is {answer}.")

Enter a grade (or 'q' to quit): 100

Your grade is 100.
Enter a grade (or 'q' to quit): 80

Your grade is 80.
Enter a grade (or 'q' to quit): q

### Nested Loops

The "Inception" of loops. A nested loop is a loop inside of a loop. The "inner loop" will be executed one time for each iteration of the "outer loop".

In [17]:
weather = ["sunny", "partly cloudy", "rain"]
temp = [67, 71, 76, 60]

##

for x in weather:
    for t in temp:
        print(f"Today the weather is {x} and the temp is {t} degrees.")

Today the weather is sunny and the temp is 67 degrees.
Today the weather is sunny and the temp is 71 degrees.
Today the weather is sunny and the temp is 76 degrees.
Today the weather is sunny and the temp is 60 degrees.
Today the weather is partly cloudy and the temp is 67 degrees.
Today the weather is partly cloudy and the temp is 71 degrees.
Today the weather is partly cloudy and the temp is 76 degrees.
Today the weather is partly cloudy and the temp is 60 degrees.
Today the weather is rain and the temp is 67 degrees.
Today the weather is rain and the temp is 71 degrees.
Today the weather is rain and the temp is 76 degrees.
Today the weather is rain and the temp is 60 degrees.

# [ Exercise 5 ]

Develop the code below to produce the following output:

    *
    **
    ***
    ****
    *****

In [23]:
numbers = []
for num in range(6):
    print("*" * num)
    numbers.append(num)

*
**
***
****
*****